@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px; 
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: hsl(193, 100%, 96%);
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-button > button{
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: 25px 100px;
    text-align: center;
}

.hero-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-bar-left > h2{
    font-size: 55px;
    font-weight: 600;
}

.hero-bar-left > p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
}

#hero-bar-button{
    margin-top: 50px;
    color: white;
    padding: 25px 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    border-radius: 24px;
}

.section-body{
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#section-item1,#section-item3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: whitesmoke;
    padding: 80px;
    padding-left: 150px;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
}

#section-item2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: whitesmoke;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
}


#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-right: 100px;
}


#section-item2 > #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 100px;
    padding-right: 50px;
}

#section-item4{
    /* margin-top: 50px; */
    background-color: hsl(180, 9%, 96%);
    width: 60%;
    margin: 0 auto;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#section-item4 > h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

#section-item4 > button {
    margin-top: 50px;
    color: white;
    padding: 25px 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    border-radius: 24px;
}

#text > h2{
    font-size: 40px;
    font-weight: 600;
}

#text > p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
}

.bottom{
    background-color: hsl(208, 11%, 55%);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#bottom-up{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 40px;
}

#bottom-up > .details > #location, #mail, #phone > p {
    font-size: 20px;
}

#bottom-up > #about > p {
    font-size: 20px;
}

#bottom-up > #career > p {
    font-size: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 100px;
}

#about, #career{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#location, #mail, #phone{
    display: flex;
    align-items: center;
    gap: 20px;
}

#bottom-top-icons{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

#bottom-top-icons > img{
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
}

#bottom-down{
    text-align: end;
}
