@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px; 
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: hsl(193, 100%, 96%);
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-button > button{
    background-color: white;
    padding: 20px 100px;
    border-radius: 50px;
    box-shadow: 100px;
    font-size: 25px;
    font-weight: 500;
}

.hero-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-bar-left > h2{
    font-size: 55px;
    font-weight: 600;
}

.hero-bar-left > p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

#hero-bar-button{
    margin-top: 50px;
    color: white;
    padding: 25px 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    border-radius: 60px;
}

.section-body{
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bottom{
    background-color: hsl(208, 11%, 55%);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#bottom-up{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 40px;
}

#bottom-up > .details > #location, #mail, #phone > p {
    font-size: 20px;
}

#bottom-up > #about > p {
    font-size: 20px;
}

#bottom-up > #career > p {
    font-size: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 100px;
}

#about, #career{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#location, #mail, #phone{
    display: flex;
    align-items: center;
    gap: 20px;
}

#bottom-top-icons{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

#bottom-top-icons > img{
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
}

#bottom-down{
    text-align: end;
}
